<html lang="kr">
<title>bot 메시지</title>
<head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
<h3 style="color:gray;">bot 메시지를 보낼 팀을 선택해주세요.</h2>
<form action="" method="post">
  <input type="checkbox" name="tip1" value="1"> Default Option
  <input type="checkbox" name="tip2" value="2"> Other Option
</form>
</body>
</html>